.giveaway__row-inner-wrap {
    background-color: #fff!important;
    padding: 10px!important;
    margin-top: -7px!important;
    margin-bottom: -7px!important;
    border-radius: 7px!important;
}
 
.page__outer-wrap {
    background-color: #c6d4df!important;
    color: #465670!important;
}


.is-faded {
    opacity: 1!important;    
}

.giveaway__row-outer-wrap .is-faded {
    opacity: 0.4!important; 
}

.comment {
    background-color: #fff!important;
    padding-left: 10px!important;
}

.pagination {
    padding-bottom: 5px!important;
}

.comment--submit {
    padding-top: 1px!important;
    padding-bottom: 1px!important;
}

.table__row-inner-wrap, .form__rows {
    background-color: #fff;
    border-radius: 5px;
    padding: 5px;
}


.pagination  {
    color: #465670!important;
}

.page__description {
    background-color: #fff!important;
    padding: 10px!important;
}
    
.highcharts-container {
    background-color: #fff!important;
    width: 956px!important;
}

.comments__entity {
    max-width: 100%;
}

/* From this line onward is the fixed navigation bar option. Surround this section with comment marks to disable fixed nav-bar*/
header {
    position: fixed;
    width: 100%;
    z-index: 99;
    transition: opacity 0.4s ease-in-out;
}

.scroll {
    opacity: 0.3;
}

header:hover {
    opacity: 1;
}

/* Popup GA */

.SGPP__popup_giveaway .align-button-container {
	width: 200px;
    position: relative;
    left: 810px;
    top: -107px;
}

.SGPP__popup_giveaway .comment__submit-button {
    width: 80px;
    margin-bottom: -37px;
    line-height: 18px;
    padding: 15px;
}

.SGPP__popup_giveaway .comment__cancel-button {
    position: relative;
    left: -83px;
    top: 70px;
}

.table__column--width-small {
    width: 9%;
}

.table__column--width-small{
    width:9%
}

.table__heading>div[class^=table__column]:first-child{
    flex-basis: 634px!important
}

.table__column--width-fill{
    flex-basis:580px!important;
    flex:0;
}

.poll .table__column--width-fill {
    flex: 1;
}
